div {
  background-color: white;
}

h1 {
  color: black;
}

div {
  width: 100%;
}

#timeline-svg {
  padding: 3%;
}

#timeline-container {
  display: flex;
  width: 100%;
}

.circle {
  transition: r .5s ease;
  fill: magenta;
}

.circle:hover {
  transition: r .5s ease;
  fill: black;
  r: 20;
}
