.flex-one {
  flex: 1;
}

.flex-three {
  flex: 3;
}

.particles-container {
  position: relative;
}

#main-container {
  display: flex;
  width: 100%;
}

#content-container {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0);
}

.landing-page {

}

.about-page {
  background-color: white;
  display: flex;
}

.full-text-page {
  display: flex;
}

div {
  width: 100%;
}

p {
  padding: 0 10%;
}

.top-button {
  margin-top: 1em;
  width: 200px;
  font-size: 1.2em;
  border-color: #fff;
  background-color: #fff;
  padding: 20px;
  border:none;
  border-radius: 10px;
  transition: background-color 1s ease;
  outline : none;
}

button:hover {
  background-color: lightskyblue;
  transition: background-color 1s ease;
  border-radius: 10px;
}

.top-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button {
  border-style: solid;
  border-color: lightskyblue;
  font-size: 1.4em;
}

#timeline-container {

}

.info-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 0, 0, 0);
  padding-bottom: 5em;
}

.info-text {
  flex: 3;
  overflow-y: scroll;
  height: 50%;
  background-color: white;
}

.arrow-container {
  flex: 1;
  padding-top: 2em;
  background-color: rgba(0,0,0,0);
}

.arrow {
  width: 75px;
  height: 75px;
  padding: 0 40px;
  fill: black;
}

.arrow:hover {
  fill: lightskyblue;
}

.hidden-arrow {
  display: none;
}

.circle {
  transition: r .5s ease;
  stroke: lightskyblue;
  stroke-width: 2;
}

.circle:hover {
  transition: r .5s ease;
  fill: lightskyblue;
  r: 20;
}

h1 {
  color: black;
}

div {
  text-align: center;
}

p {
  font-size: 1.5em;
  line-height: 1.5;
}

#timeline-svg {
  padding: 2.5%;
}

#timeline-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.year {
  margin-bottom: 30px;
}

.full-text-page {
  background-color: white;
  z-index: 1;
  padding-bottom: 5em;
}
